# BasedOnStyle: Chromium
# IndentWidth: 4
# ColumnLimit: 150
# BreakBeforeReturn: true
# AllowShortFunctionsOnASingleLine: false

# 缩进宽度
IndentWidth: 4

# 访问说明符偏移
AccessModifierOffset: -4

# 每行字符的限制，0表示没有限制
ColumnLimit: 0
